*{
    margin: 0;
}
header{
    height: 150px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: white;
    font-size: 50px;
    filter: drop-shadow(5px 5px 5px black);
}
main{
    font-size: 32px;
    background-color: rgb(15, 15, 15);
    width: 70%;
    height: 900px;
    color: rgb(223, 223, 223);
    padding: 50px;
    text-align: center;
}
nav{
    background-color: black;
    width: 15%;
    height: 1000px;
}
section{
    display: flex;
}
.dol{
    filter: drop-shadow(5px 5px 2px rgb(48, 48, 48));
    font-family: 'Libre Barcode 39 Text';
}
.gora{
    font-family: 'Press Start 2P';
    font-size: 25px;
    color: rgb(223, 223, 223);
}
.gora2{
    font-family: 'Press Start 2P';
    font-size: 25px;
    color: rgb(223, 223, 223);
    text-align: center;
}
.zdj{
    filter: drop-shadow(5px 5px 2px rgb(94, 68, 92));
}
a{
    text-decoration: none;
    color: rgb(223, 223, 223);
    
}
div{
    display: flex;
    text-align: center;
}
iframe{
    margin: 40px;
    border: 1px solid rgb(223, 223, 223);
}
.git{
    height: 150px;
    width: 275px;
}
nav{
    background-image: url(bg.jpg);
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
footer{
    height: 100px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: white;
    font-size: 50px;
    filter: drop-shadow(5px 5px 5px black);
}
